fastapi[all]==0.115.12
uvicorn[standard]==0.34.0
aiohttp[speedups]==3.11.16
SQLAlchemy==2.0.40
asyncpg==0.30.0
psycopg2-binary==2.9.10
alembic==1.15.2
pydantic==2.11.2
pydantic-settings==2.8.1
orjson==3.10.16
gunicorn==23.0.0
